@model IEnumerable<lab_7.Models.ModelForTask2_7>

@{
    ViewBag.Title = "Вывести информацию о количестве объектов недвижимости,расположенных на определенном этаже по каждому району";
}

<h2>
    Вывести информацию о количестве объектов недвижимости, расположенных на определенном этаже по каждому району
</h2>

<form method="get">
    <div>
        <label for="Floor">Этаж:</label>
        <input type="number" id="Floor" name="Floor" value="@ViewBag.Floor" />
    </div>
    <button type="submit">Поиск</button>
</form>

<table class="table">
    <tr>
        <th>District</th>
        <th>Count</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.District</td>
            <td>@item.Count</td>
        </tr>
    }
</table>