@model IEnumerable<lab_7.Models.ModelForTask2_10>

@{
    ViewBag.Title = "Вывести информацию о премии риэлтора, которая рассчитывается по \r\nформуле:\r\n Количество проданных квартир*Стоимость*5%-НДФЛ (13%)";
}

<h2>
    Вывести информацию о премии риэлтора, которая рассчитывается по
    формуле:
    Количество проданных квартир*Стоимость*5%-НДФЛ (13%)
</h2>

<table class="table">
    <tr>
        <th>
            ФИО риэлтора
        </th>
        <th>
            Премия
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.LastName @item.FirstName @item.MiddleName
            </td>
            <td>
                @item.Bonus
            </td>
        </tr>
    }
</table>