@model IEnumerable<lab_7.Models.ModelForTask2_14>
@{
    ViewBag.Title = "Определить адреса квартир, расположенных в указанном районе, которые \r\nеще не проданы";
}

<h2>
    Определить адреса квартир, расположенных в указанном районе, которые
    еще не проданы
</h2>

<form method="get">
    <div>
        <label for="DistrictName">Название района:</label>
        <input type="text" id="DistrictName" name="DistrictName" value="@ViewBag.DistrictName" />
    </div>
    <button type="submit">Поиск</button>
</form>

<table class="table">
    <tr>
        <th>
            Адреса квартир которые еще не проданы
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Address
            </td>
        </tr>
    }
</table>