@{
    ViewBag.Title = "Определить максимальную и минимальную стоимости объекта недвижимости, проданного указанным риэлтором";
}

<h2>Определить максимальную и минимальную стоимости объекта недвижимости, проданного указанным риэлтором</h2>

<form method="get">
    <div>
        <label for="Last_name">Фамилия риелтора:</label>
        <input type="text" id="Last_name" name="Last_name" value="@ViewBag.Last_name" />
    </div>
    <button type="submit">Поиск</button>
</form>

<p>Минимальная стоимость проданных объектов недвижимости: @ViewBag.MinCost</p>
<p>Максимальная стоимость проданных объектов недвижимости: @ViewBag.MaxCost</p>