@model IEnumerable<lab_7.Models.ModelForTask2_20>
@{
    ViewBag.Title = "Вывести адреса объектов недвижимости, стоимость 1м2\r\nкоторых меньше \r\nсредней всех объектов недвижимости по району, объявления о которых были \r\nразмещены не более 4 месяцев назад";
}

<h2>
    Вывести адреса объектов недвижимости, стоимость 1м2
    которых меньше 
    средней всех объектов недвижимости по району, объявления о которых были 
    размещены не более 4 месяцев назад
</h2>

<table class="table">
    <tr>
        <th>
            Адрес
        </th>
        <th>
            Статус
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Address
            </td>
            <td>
                @item.Status
            </td>
        </tr>
    }
</table>