<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Таблицы</h2>
            <p>Здесь хранятся таблицы к базе данных, чтобы можно было проще управлять ими (создавать/редактировать/удалять записи - CRUD).</p>
            <p><a class="btn btn-outline-dark" href="../Building_materials/Index">Материалы здания &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Districts/Index">Районы &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Evaluation_criteria/Index">Критерии оценки &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Evaluations/Index">Оценки &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Real_estate_objects/Index">Объект недвижимости &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Realtors/Index">Риэлтор &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Sales/Index">Продажа &raquo;</a></p>
        </section>
    </div>
</main>