<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Задания</h2>
            <p>Здесь хранятся ответы на задания.</p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_1">Задание 2.1 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_2">Задание 2.2 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_3">Задание 2.3 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_4">Задание 2.4 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_5">Задание 2.5 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_6">Задание 2.6 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_7">Задание 2.7 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_8">Задание 2.8 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_9">Задание 2.9 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_10">Задание 2.10 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_11">Задание 2.11 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_12">Задание 2.12 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_13">Задание 2.13 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_14">Задание 2.14 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_15">Задание 2.15 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_16">Задание 2.16 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_17">Задание 2.17 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_18">Задание 2.18 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_19">Задание 2.19 &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Tasks/Index2_20">Задание 2.20 &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Таблицы</h2>
            <p>А тут хранятся таблицы к базе данных, чтобы можно было проще управлять ими (создавать/редактировать/удалять записи - CRUD).</p>
            <p><a class="btn btn-outline-dark" href="../Building_materials/Index">Материалы здания &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Districts/Index">Районы &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Evaluation_criteria/Index">Критерии оценки &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Evaluations/Index">Оценки &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Real_estate_objects/Index">Объект недвижимости &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Realtors/Index">Риэлтор &raquo;</a></p>
            <p><a class="btn btn-outline-dark" href="../Sales/Index">Продажа &raquo;</a></p>
        </section>
    </div>
</main>